.continents {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.loadingIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  gap: 20px;
}

.loadingIcon > h4 {
  font-weight: 300;
}