@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('./assets/fonts/myfonts.css');

:root {
  --white: #fff;
  --black: #000;
  --black-1: #1d1d1d;
  --primary: #4369b2;
  --cont-bg-1: #4268b1;
  --cont-bg-2: #3d61a3;
  --cont-bg-3: #5585e1;
  --header-bg: #325083;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Gill Sans', sans-serif;
}

.loadingIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  gap: 20px;
}

.loadingIcon > h4 {
  font-weight: 300;
}
